$palette-color1: #ff0000;
$palette-color2: #ffed00;
$palette-color3: #ff0092;
$palette-color4: #c2ff00;
$palette-color5: #00c7f2;
$palette-color6: #c1f1fc;
$palette-color7: #ebffac;
$palette-color8: #ffc2e5;
$palette-color9: #ffaaaa;