@font-face {
  font-family: MabryDeezer;
  src: url("./fonts/MabryDeezer-Regular.otf");
}

body {
  font-family: MabryDeezer;
}

body {
  height: 100%;
}

img {
  object-position: center;
}

.link {
  background-color: $palette-color6;
  border-color: $palette-color6;

  &:active,
  &:hover {
    background-color: $palette-color6;
    border-color: $palette-color6;
  }
  &:focus,
  &:focus-visible {
    background-color: $palette-color6;
    border-color: $palette-color6;
    outline: transparent;
    box-shadow: 0 0 0 0.25rem darken($palette-color6, 5%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark;
  }
  svg {
    fill: $text-light-color;
    stroke: $text-light-color;
  }
  h1,
  span,
  p,
  h2,
  figcaption,
  a {
    color: $text-light-color;
  }
  audio {
    background-color: $dark;
  }
  .form-label {
    color: $text-light-color;
    font-size: 2rem;
    text-align: center;
  }
  .container-top {
    box-shadow: 0 0 0 0.25rem lighten($dark, 3%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light;
    position: fixed;
    bottom: 10%;
    right: 1%;
    &:hover {
      cursor: pointer;
    }
  }

  .go-top {
    margin-top: 0.5rem;
    border-right: 2px solid $dark;
    border-top: 2px solid $dark;
    transform: rotate(-45deg);
    height: 20px;
    width: 20px;
  }
  body.light {
    background-color: $light;
    svg {
      fill: $text-dark-color;
      stroke: $text-dark-color;
    }
    h1,
    span,
    p,
    h2,
    figcaption,
    a {
      color: $text-dark-color;
    }
    audio {
      background-color: $light;
    }
    .form-label {
      color: $text-dark-color;
      font-size: 2rem;
      text-align: center;
    }
    .container-top {
      box-shadow: 0 0 0 0.25rem lighten($dark, 3%);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $dark;
      position: fixed;
      bottom: 10%;
      right: 1%;
      &:hover {
        cursor: pointer;
      }
    }

    .go-top {
      margin-top: 0.5rem;
      border-right: 2px solid $light;
      border-top: 2px solid $light;
      transform: rotate(-45deg);
      height: 20px;
      width: 20px;
    }
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: $light;
  }
  svg {
    fill: $text-dark-color;
    stroke: $text-dark-color;
  }
  h1,
  span,
  p,
  h2,
  figcaption,
  a {
    color: $text-dark-color;
  }
  audio {
    background-color: $light;
  }
  .form-label {
    color: $text-dark-color;
    font-size: 2rem;
    text-align: center;
  }
  .container-top {
    box-shadow: 0 0 0 0.25rem lighten($dark, 3%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    position: fixed;
    bottom: 10%;
    right: 1%;
    &:hover {
      cursor: pointer;
    }
  }

  .go-top {
    margin-top: 0.5rem;
    border-right: 2px solid $light;
    border-top: 2px solid $light;
    transform: rotate(-45deg);
    height: 20px;
    width: 20px;
  }
  body.dark {
    background-color: $dark;
    svg {
      fill: $text-light-color;
      stroke: $text-light-color;
    }
    h1,
    span,
    p,
    h2,
    figcaption,
    a {
      color: $text-light-color;
    }
    audio {
      background-color: $dark;
    }
    .form-label {
      color: $text-light-color;
      font-size: 2rem;
      text-align: center;
    }

    .container-top {
      box-shadow: 0 0 0 0.25rem lighten($dark, 3%);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light;
      position: fixed;
      bottom: 10%;
      right: 1%;
      border: transparent;
      &:hover {
        cursor: pointer;
      }
    }

    .go-top {
      margin-top: 0.5rem;
      border-right: 2px solid $dark;
      border-top: 2px solid $dark;
      transform: rotate(-45deg);
      height: 20px;
      width: 20px;
    }
  }
}
