.switch {
  display: flex;
  margin-right: 20px;
  min-height: 40px;
  background-color: $light;
  border-radius: 40px;
  cursor: pointer;
}

.switch:before {
  content: "🌙";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: $light;
  border-radius: 50%;
}

.switch.on {
  background-color: $dark;
}

.switch.on:before {
  content: "☀️";
  background: $dark;
}
