@import "bootstrap";
a {
  text-decoration: none;
  color: white;
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.btn {
  background-color: #ffaaaa;
}

.btn-primary {
  border-color: #ffaaaa !important;
}
